<footer class="footer">
	<small>
		<a href="http://fredericmarchand.herokuapp.com">Social Network</a> by Frederic Marchand
	</small>
	<nav>
		<ul>
			<li><%= link_to "About",   about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			<!--<li><a href="http://news.railstutorial.org/">News</a></li>-->
		</ul>
	</nav>
</footer>